
@media (min-device-width : 320px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){

    body{
        font-size: 24px;
    }

    .mui-container{
        margin-left: 0;
        margin-right: 0;
        max-width: 960px;
    }
    .mui-textfield > textarea{
        font-size: 24px;
        color: #666;
    }
    .mui-btn--fab{
        font-size: 24px;
        width: 96px;
        height: 96px;
    }
    .tr_bar_contain{
        display: inline-flex;
    }
    .tr_bar_header{
        font-size: 36px;
        margin-top: 14px;
    }
    .tr_bar_title{
        font-size: 18px;
    }
}

body{
    background-color: #EEEEEE;
}

textarea{
    resize: none;
}

ol{
    color: #666;
}

.mui-textfield > textarea{
    color: #666;
}

.tr_bar{
    height: 64px;
    background-color: #2196F3;
}

.tr_textarea{
    height: 300px;
    color: #666;
}

.tr_middleBtnDiv{
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}